/*Imports de fontes*/
@font-face {
  font-family: squada-one;
  src: url(../fonts/SquadaOne-Regular.ttf);
}
body{
    /* BASE GERAL DO SITE*/
    color: #666B6E !important;
    background-image: url("../img/fundo-body.gif");
    font-size:13px;
    >#menutop {
      background: #FFF;
      border: none;
      font-family: Arial;
      font-size: 15px;
      border-bottom: solid 1px #eaeaea;
      >.container {
        > #navbar {
          > ul {
            > li {
              > :hover {
                background: #53A7D1;
                color: #ffffff;
                border-bottom: solid 2px #1b6d85;
                transition-duration: 0.5s;
              }
              .active {
                color: #fff;
              }
              > a {
                border-left: solid 1px #eaeaea;
                border-right: solid 1px #eaeaea;
                padding-top: 15px;
                text-align: center;
                width: 130px;
                height: 55px;
                font-family: Arial;
                color: #666B6E;
              }
            }
          }
        }
      }
      #li-login{
        #link-login{
          padding-top: 10px;
          padding-left: 0;
          padding-right: 0;
          #img-login{
            color: #1b6d85;
            width: 34px;
            height: 34px;
            margin-right: -12px;
          }
        }
      }

    }
    >.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
      background: #53A7D1;
      color: #fff !important;
      border-bottom: solid 2px #1b6d85;
    }
    >.logo{
      background: #fff;
      height: 200px;
      margin-top: 40px;
      >.container{
        >.row{
          >.logo-box-img{
            margin-top: 80px;
            >.logo-img{
              >img{
                display: inline-block;
              }
            }
            >.logo-p{
              >p{
                display: inline-block;
                color:#9F9F9F;
                font-family: Arial;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    >.pesquisa{
      background: #fff;
      height: 50px;
      margin-bottom: 30px;
      .container{
        .row{
          margin-top: 5px;
          .pesquisa-box-all{
            .pesquisa-box-input-bt{
              input, input:focus{
                border-radius: 0px;
                outline: none;
              }
              img{
                width: 17px;
                height: 17px;
              }
              button{
                border-radius: 0px;
              }
            }
          }
        }
      }
    }
    >.tarja-section{
      margin-top: -20px;
      margin-bottom: 20px;
      >.tarja-container{
        .tarja-linha{
          .tarja-box-all{
            h3{
              color: #848a8d;
              span{
              background: #53A7D1;
              }
            }
          }
        }
      }

    }
    >.paines-menu-not-pub-vagas{
      .panel{
        border-radius: 0px;
        border: solid 1px #dddddd;
        .panel-heading {
          text-align: center;
          padding: 10px 15px;
          border-bottom: 1px solid transparent;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          background: #53A7D1;
          border: solid 1px #dddddd;
        }
        .painel-menu{
          ul{
            li{
              a{
                color: #666B6E !important;
              }
            }
          }
        }
      }
    }
    >.rodape{
      background: #ffffff;
      height: 300px;
      .rodape-logo-all{
        margin-top:50px;
        p{
          font-family: arial, verdana, sans-serif;
          color: #666B6E;
          margin: 0;
          span{
            color: #52A6D1;
            font-family: arial, verdana, sans-serif;
            font-size: 40px;
          }
        }
      }
      .rodape-menu-all{
        margin-top: 60px;
        padding-left: 160px;
        margin-right: -20px;
        margin-left: 10px;
        ul{
          li{
            list-style-type: none;
            font-family: "Squada One",cursive;
            font-size: 16px;
            a{
              font-family: squada-one ;
              color: #676B6F;
              padding: 0px 10px;
              border-left: solid 1px #000000;
              border-radius:0;
            }
            :hover{
              color: #52A6D1;
              background: none;
            }
          }
        }
      }
      #li-vagas{
        font-family: squada-one ;
        color: #676B6F;
        padding: 0px 10px;
        border-left: none;
        border-radius:0;
        &:hover{
          color: #52A6D1;
          background: none;
        }
      }
      #li-equipe{
        font-family: squada-one ;
        color: #676B6F;
        padding: 0px 10px;
        border-left: solid 1px #000000;
        border-radius:0;
        text-align: left;
        &:hover{
          color: #52A6D1;
          background: none;
        }
      }
    }
    .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover{
      background: none;
      color: #53A7D1 !important;
    }
    /* Pagina curso.php Configuracoes css3*/
    .curso-box-all{
      border: 1px solid #DDD;
      margin-top: 10px;
      padding-bottom: 10px;
      .titulo-centro{
        margin: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        border-bottom: 1px solid #DDD;
      }
      .p-titulo{
        margin: 0px;
        padding: 5px 0px;
        font-family: Arial ;
        font-weight: bold;
        font-size: 14px;
        color: #545c5f !important;
      }
      .p-texto{
        margin: 0px;
        font-family: arial, verdana, sans-serif;
        font-size: 12px;
        color: #676B6F !important;
        padding-bottom: 5px;
      }

      img{
        text-align: center;
        margin-top: 30px;
      }
    }
}
/* REGRAS DE MEDIAS */
@media screen and (min-width: 485px) and (max-width: 768px){
  body{

    #rodape-logo-all{
      margin-top: 20px;

    }
    #rodape-menu-all{
      margin-top: 10px;
      padding-left: 1px;
    }
  }
}
@media screen and (min-width: 350px) and (max-width: 485px){
  body{

    #rodape-logo-all{
      margin-top: 6px;

    }
    #rodape-menu-all{
      margin-right: -20px;
      margin-top: 8px;
      margin-left: 5px;
      padding-left: 0px;

    }
  }
}
@media screen and (min-width: 2px) and (max-width: 349px){
  body{

    #rodape-logo-all{
      margin-top: 2px;

    }
    #rodape-menu-all{
      margin-top: 2px;
      margin-left: 8px;
      padding-left: 0px;
    }
  }
}
